
note01/

dot/
.bin/
build
.vscode/
.idea/
.out/
.gradle/
/.ignore/
/gradle
/cmake-*

Project/build/
Project/.vscode/
Project/bin/
Project/test/
Project/dot/

/Super_Keyboard_Copy.iml
/gradlew
/gradlew.bat
